[Desktop Entry]
Version=R2021b
Name=MATLAB R2021b
GenericName=MATLAB
X-GNOME-FullName=MATLAB
Comment=Multi-paradigm programming language and numeric computing environment
Type=Application
Categories=Programming;Science;Computing;
Exec=cd ${NOTEBOOK_DIR}; matlab -desktop
TryExec=cd ${NOTEBOOKS_DIR}; /usr/local/bin/matlab -desktop
Terminal=false
StartupNotify=true
Icon=/usr/local/MATLAB/bin/glnxa64/cef_resources/matlab_icon.png
StartupWMClass=MATLAB-main
