jupyter-server-proxy==3.2.2
jupyterlab-git==0.39.3
jupyterlab-system-monitor~=0.8.0
papermill~=2.4.0
powerline-shell~=0.7.0
requests>=2.20.0
virtualenv>=20.7.2
mistune>=2.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
Jinja2<3.1 # because of https://github.com/jupyter/nbconvert/issues/1742
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
