jupyter-server-proxy~=3.2.1
jupyterlab-git==0.30.1
jupyterlab-system-monitor~=0.8.0
jupyterlab~=3.0.0
papermill~=2.3.0
powerline-shell~=0.7.0
requests>=2.20.0
setuptools==57.5.0
virtualenv>=20.7.2
mistune>=2.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
