Include /opt/ssh/sshd_config.d/*.conf
Port 2022

HostKey /opt/ssh/ssh_host_rsa_key
HostKey /opt/ssh/ssh_host_ecdsa_key
HostKey /opt/ssh/ssh_host_ed25519_key

ChallengeResponseAuthentication no

UsePAM yes

X11Forwarding yes
PrintMotd no
PidFile /opt/ssh/sshd.pid

AcceptEnv LANG LC_*

Subsystem       sftp    /usr/lib/openssh/sftp-server
